In [1]:
# Creating a string
string = '''
At Waterloo we were fortunate in catching a don't train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes. 
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens. 
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged. 
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought. 
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.
'''

In [2]:
print(string)

At Waterloo we were fortunate in catching a don't train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes.
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens.
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged.
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought.
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.

#### But what if we want to read a text file?

In [1]:
#We first check the working directory
import os
#os.chdir('')
print(os.getcwd())

F:\insofe data\Rstudio\lab29_28_1_18__text_mining&natural langauage processing

In [2]:
#we could even verify what files are there in the path as shown:
print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', '20170128_Batch34_CSE7124c_TextPreprocessing_Lab01.ipynb', '20170128_Batch34_CSE7124c_TextPreprocessing_Lab01.zip', '20180128_Batch34_CSE7124c_Text_Mining_Lecture01(1).pdf', '20180128_Batch34_CSE7124c_Text_Mining_Lecture01.pdf', '20180128_Batch34_CSE7124c_TfIdfManual_Lab01.xlsx', 'sherlock.txt']

In [3]:
# Reading the text file
with open('sherlock.txt', 'r') as file_:
    string = file_.read()
    
print(string)

At Waterloo we were fortunate in catching a don't train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes.
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens.
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged.
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought.
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.

In [4]:
import nltk
# Tockenizing the words
tokens = nltk.word_tokenize(string)

print(tokens)

['At', 'Waterloo', 'we', 'were', 'fortunate', 'in', 'catching', 'a', 'do', "n't", 'train', 'for', 'Leatherhead', ',', 'where', 'we', 'hired', 'a', 'trap', 'at', 'the', 'station', 'inn', 'and', 'drove', 'for', 'four', 'or', 'five', 'miles', 'through', 'the', 'lovely', 'Surrey', 'lanes', '.', 'It', 'was', 'a', 'perfect', 'day', ',', 'with', 'a', 'bright', 'sun', 'and', 'a', 'few', 'fleecy', 'clouds', 'in', 'the', 'heavens', '.', 'The', 'trees', 'and', 'wayside', 'hedges', 'were', 'just', 'throwing', 'out', 'their', 'first', 'green', 'shoots', ',', 'and', 'the', 'air', 'was', 'full', 'of', 'the', 'pleasant', 'smell', 'of', 'the', 'moist', 'earth', '.', 'To', 'me', 'at', 'least', 'there', 'was', 'a', 'strange', 'contrast', 'between', 'the', 'sweet', 'promise', 'of', 'the', 'spring', 'and', 'this', 'sinister', 'quest', 'upon', 'which', 'we', 'were', 'engaged', '.', 'My', 'companion', 'sat', 'in', 'the', 'front', 'of', 'the', 'trap', ',', 'his', 'arms', 'folded', ',', 'his', 'hat', 'pulled', 'down', 'over', 'his', 'eyes', ',', 'and', 'his', 'chin', 'sunk', 'upon', 'his', 'breast', ',', 'buried', 'in', 'the', 'deepest', 'thought', '.', 'Suddenly', ',', 'however', ',', 'he', 'started', ',', 'tapped', 'me', 'on', 'the', 'shoulder', ',', 'and', 'pointed', 'over', 'the', 'meadows', '.']

In [7]:
# Creating sentence tokens and printing the sentences
sentences = nltk.sent_tokenize(string)
for sent in sentences:
    print('\n')
    print(sent)

At Waterloo we were fortunate in catching a don't train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes.


It was a perfect day, with a bright sun and a few fleecy clouds in the heavens.


The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth.


To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged.


My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought.


Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.

#### Notice how "don't" has been tokenized to 'do' and "n't" in word tokens

#### Lowering case
###### (Here's a nice use of list comprehensions. Instead of writing a for loop, initiating an empty list and appending lowered words, we can save much space by doing this)

In [15]:
'''
lower_tokens = []
for token in tokens:
    lower_tokens.append(token.lower())
'''
##This is the same as doing the following lines of code
lower_tokens = [token.lower() for token in tokens]
print(lower_tokens)

['waterloo', 'fortunate', 'catching', "n't", 'train', 'leatherhead', ',', 'hired', 'trap', 'station', 'inn', 'drove', 'four', 'five', 'miles', 'lovely', 'surrey', 'lanes', '.', 'perfect', 'day', ',', 'bright', 'sun', 'fleecy', 'clouds', 'heavens', '.', 'trees', 'wayside', 'hedges', 'throwing', 'first', 'green', 'shoots', ',', 'air', 'full', 'pleasant', 'smell', 'moist', 'earth', '.', 'least', 'strange', 'contrast', 'sweet', 'promise', 'spring', 'sinister', 'quest', 'upon', 'engaged', '.', 'companion', 'sat', 'front', 'trap', ',', 'arms', 'folded', ',', 'hat', 'pulled', 'eyes', ',', 'chin', 'sunk', 'upon', 'breast', ',', 'buried', 'deepest', 'thought', '.', 'suddenly', ',', 'however', ',', 'started', ',', 'tapped', 'shoulder', ',', 'pointed', 'meadows', '.']

#### Stopwords

In [9]:
from nltk.corpus import stopwords
# Reading the stopwords from the corpus
stop = stopwords.words('english')
# Removing the stop words from the text
tokens = [token for token in lower_tokens if token not in stop]
print(tokens[:20])

['waterloo', 'fortunate', 'catching', "n't", 'train', 'leatherhead', ',', 'hired', 'trap', 'station', 'inn', 'drove', 'four', 'five', 'miles', 'lovely', 'surrey', 'lanes', '.', 'perfect']

#### Lemmatizing

In [17]:
lmtzr = nltk.stem.WordNetLemmatizer()
tokens = [lmtzr.lemmatize(token) for token in tokens]
print(tokens[:20])

['waterloo', 'fortunate', 'catching', "n't", 'train', 'leatherhead', ',', 'hired', 'trap', 'station', 'inn', 'drove', 'four', 'five', 'mile', 'lovely', 'surrey', 'lane', '.', 'perfect']

In [18]:
# Stemming the text using porter stemmer
from nltk.stem.porter import *
stemmer = PorterStemmer()
plurals = ['caresses', 'flies', 'dies', 'mules', 'denied','computer','computing','compute','better']
singles = [stemmer.stem(plural) for plural in plurals]
print(singles)
lmtzr = nltk.stem.WordNetLemmatizer()
tokensLmtz = [lmtzr.lemmatize(token) for token in plurals]
print(tokensLmtz)

['caress', 'fli', 'die', 'mule', 'deni', 'comput', 'comput', 'comput', 'better']
['caress', 'fly', 'dy', 'mule', 'denied', 'computer', 'computing', 'compute', 'better']

In [66]:
print('----------------RAW TEXT---------------------')

import re
raw = """'When I'M a Duchess,' she said 123 & * ) to herself, (not in a very hopeful tone
... though), 'I won't have #4 34 ' ' AB any pepper in m3y kitchen 456 AT ALL. Soup does very
... well without--Maybe it's # % ! always pepper that make?s people hot-tempered,?!!^'..."""
print(raw)
output = re.sub(r'\d+', '', raw)

----------------RAW TEXT---------------------
'When I'M a Duchess,' she said 123 & * ) to herself, (not in a very hopeful tone
... though), 'I won't have #4 34 ' ' AB any pepper in m3y kitchen 456 AT ALL. Soup does very
... well without--Maybe it's # % ! always pepper that make?s people hot-tempered,?!!^'...

In [19]:
print("After removing numbers")
print(output)

p = re.compile("(\.|\!|\?)-'")
newstr = p.sub("", output)
print("after removing unwanted characters")
print(newstr)

singles = re.findall(r'\w+', newstr)
print(singles)


print('----------------replacing specific words---------------------')

rexexample = [w for w in singles if re.search('^pep', w)]
print(rexexample)

print('----------------after replacing---------------------')

rexexample1 = raw.replace('pepper',"testingwords")
print(rexexample1)

After removing numbers

NameError: name 'output' is not defined

Let's combine all the above functions into a single function

In [20]:
# Applying the necessary text preprocessing steps on the data
def process_text(text):
    sentences = nltk.tokenize.sent_tokenize(text)
    sentence_tokens = [nltk.tokenize.word_tokenize(sentence) for sentence in sentences]
    tokens = []
    for sentence in sentence_tokens:
        sent = []
        for word in sentence:
            if word.lower() not in stop:
                sent.append(word.lower())
        tokens.append(sent)
    ##THE SAME FOR LOOP CAN BE WRITTEN AS FOLLOWS
    ##tokens = [[word.lower() for word in sent if word not in stop] for sent in sentence_tokens]
    tokens = [[lmtzr.lemmatize(word) for word in sent] for sent in tokens]
    return tokens

In [21]:
# Calling the function
sentenced_tokens = process_text(string)
print(string)
print(sentenced_tokens)

At Waterloo we were fortunate in catching a don't train for Leatherhead, where we hired a trap at the station inn and drove for four or five miles through the lovely Surrey lanes.
It was a perfect day, with a bright sun and a few fleecy clouds in the heavens.
The trees and wayside hedges were just throwing out their first green shoots, and the air was full of the pleasant smell of the moist earth. To me at least there was a strange contrast between the sweet promise of the spring and this sinister quest upon which we were engaged.
My companion sat in the front of the trap, his arms folded, his hat pulled down over his eyes, and his chin sunk upon his breast, buried in the deepest thought.
Suddenly, however, he started, tapped me on the shoulder, and pointed over the meadows.

[['waterloo', 'fortunate', 'catching', "n't", 'train', 'leatherhead', ',', 'hired', 'trap', 'station', 'inn', 'drove', 'four', 'five', 'mile', 'lovely', 'surrey', 'lane', '.'], ['perfect', 'day', ',', 'bright', 'sun', 'fleecy', 'cloud', 'heaven', '.'], ['tree', 'wayside', 'hedge', 'throwing', 'first', 'green', 'shoot', ',', 'air', 'full', 'pleasant', 'smell', 'moist', 'earth', '.'], ['least', 'strange', 'contrast', 'sweet', 'promise', 'spring', 'sinister', 'quest', 'upon', 'engaged', '.'], ['companion', 'sat', 'front', 'trap', ',', 'arm', 'folded', ',', 'hat', 'pulled', 'eye', ',', 'chin', 'sunk', 'upon', 'breast', ',', 'buried', 'deepest', 'thought', '.'], ['suddenly', ',', 'however', ',', 'started', ',', 'tapped', 'shoulder', ',', 'pointed', 'meadow', '.']]

#### Word-count

In [22]:
word_count = nltk.FreqDist(tokens) #WE INITIALIZE AN EMPTY FREQUENCY COUNTER
word_count.most_common(20)

[(',', 11),
 ('.', 6),
 ('trap', 2),
 ('upon', 2),
 ('waterloo', 1),
 ('fortunate', 1),
 ('catching', 1),
 ("n't", 1),
 ('train', 1),
 ('leatherhead', 1),
 ('hired', 1),
 ('station', 1),
 ('inn', 1),
 ('drove', 1),
 ('four', 1),
 ('five', 1),
 ('mile', 1),
 ('lovely', 1),
 ('surrey', 1),
 ('lane', 1)]

In [23]:
word_count

FreqDist({',': 11,
          '.': 6,
          'air': 1,
          'arm': 1,
          'breast': 1,
          'bright': 1,
          'buried': 1,
          'catching': 1,
          'chin': 1,
          'cloud': 1,
          'companion': 1,
          'contrast': 1,
          'day': 1,
          'deepest': 1,
          'drove': 1,
          'earth': 1,
          'engaged': 1,
          'eye': 1,
          'first': 1,
          'five': 1,
          'fleecy': 1,
          'folded': 1,
          'fortunate': 1,
          'four': 1,
          'front': 1,
          'full': 1,
          'green': 1,
          'hat': 1,
          'heaven': 1,
          'hedge': 1,
          'hired': 1,
          'however': 1,
          'inn': 1,
          'lane': 1,
          'least': 1,
          'leatherhead': 1,
          'lovely': 1,
          'meadow': 1,
          'mile': 1,
          'moist': 1,
          "n't": 1,
          'perfect': 1,
          'pleasant': 1,
          'pointed': 1,
          'promise': 1,
          'pulled': 1,
          'quest': 1,
          'sat': 1,
          'shoot': 1,
          'shoulder': 1,
          'sinister': 1,
          'smell': 1,
          'spring': 1,
          'started': 1,
          'station': 1,
          'strange': 1,
          'suddenly': 1,
          'sun': 1,
          'sunk': 1,
          'surrey': 1,
          'sweet': 1,
          'tapped': 1,
          'thought': 1,
          'throwing': 1,
          'train': 1,
          'trap': 2,
          'tree': 1,
          'upon': 2,
          'waterloo': 1,
          'wayside': 1})

In [24]:
import json
with open('word_freqs.json', 'w') as f:
    json.dump(word_count, f)

#### n-grams

In [27]:
bigrams = list(nltk.ngrams(tokens, 2, pad_right = True, right_pad_symbol='</s>', pad_left=True, left_pad_symbol='<s>'))
print(bigrams)
#bigram=list(nltk.bigrams(tokens))
#print(bigram)
#bigramword_count = nltk.FreqDist(bigram)
#bigramword_count.most_common(20)

[('<s>', 'waterloo'), ('waterloo', 'fortunate'), ('fortunate', 'catching'), ('catching', "n't"), ("n't", 'train'), ('train', 'leatherhead'), ('leatherhead', ','), (',', 'hired'), ('hired', 'trap'), ('trap', 'station'), ('station', 'inn'), ('inn', 'drove'), ('drove', 'four'), ('four', 'five'), ('five', 'mile'), ('mile', 'lovely'), ('lovely', 'surrey'), ('surrey', 'lane'), ('lane', '.'), ('.', 'perfect'), ('perfect', 'day'), ('day', ','), (',', 'bright'), ('bright', 'sun'), ('sun', 'fleecy'), ('fleecy', 'cloud'), ('cloud', 'heaven'), ('heaven', '.'), ('.', 'tree'), ('tree', 'wayside'), ('wayside', 'hedge'), ('hedge', 'throwing'), ('throwing', 'first'), ('first', 'green'), ('green', 'shoot'), ('shoot', ','), (',', 'air'), ('air', 'full'), ('full', 'pleasant'), ('pleasant', 'smell'), ('smell', 'moist'), ('moist', 'earth'), ('earth', '.'), ('.', 'least'), ('least', 'strange'), ('strange', 'contrast'), ('contrast', 'sweet'), ('sweet', 'promise'), ('promise', 'spring'), ('spring', 'sinister'), ('sinister', 'quest'), ('quest', 'upon'), ('upon', 'engaged'), ('engaged', '.'), ('.', 'companion'), ('companion', 'sat'), ('sat', 'front'), ('front', 'trap'), ('trap', ','), (',', 'arm'), ('arm', 'folded'), ('folded', ','), (',', 'hat'), ('hat', 'pulled'), ('pulled', 'eye'), ('eye', ','), (',', 'chin'), ('chin', 'sunk'), ('sunk', 'upon'), ('upon', 'breast'), ('breast', ','), (',', 'buried'), ('buried', 'deepest'), ('deepest', 'thought'), ('thought', '.'), ('.', 'suddenly'), ('suddenly', ','), (',', 'however'), ('however', ','), (',', 'started'), ('started', ','), (',', 'tapped'), ('tapped', 'shoulder'), ('shoulder', ','), (',', 'pointed'), ('pointed', 'meadow'), ('meadow', '.'), ('.', '</s>')]

### A simple word cloud generator

In [29]:
import wordcloud
wc = wordcloud.WordCloud()
img = wc.generate_from_text(string)
import matplotlib.pyplot as plt
%matplotlib inline
plt.imshow(img)
plt.show()

ModuleNotFoundError: No module named 'wordcloud'

In [84]:
import sklearn
sklearn.feature_extraction.

In [30]:
# Building tfidf
from time import time
from sklearn.feature_extraction.text import TfidfVectorizer
#Get TF-IDFs.
print("Extracting tf-idf features...")
#First we initiate an empty tfidf object with specific conditions
tfidf_vectorizer = TfidfVectorizer(ngram_range=(1,3))#max_df=0.95, min_df=2, stop_words='english' #USE HELP TO SEE WHAT EACH DOES)
t0 = time()
#Next we give the data for processing
tfidf = tfidf_vectorizer.fit_transform(sentences)
print("done in %0.3fs." % (time() - t0))
# print(tfidf)

Extracting tf-idf features...
done in 0.318s.

In [78]:
tfidf_vectorizer.get_feature_names()
print(tfidf)

  (0, 21)	0.173193877657
  (0, 327)	0.105604180658
  (0, 333)	0.173193877657
  (0, 339)	0.0731110861328
  (0, 94)	0.105604180658
  (0, 136)	0.0731110861328
  (0, 40)	0.105604180658
  (0, 60)	0.105604180658
  (0, 304)	0.105604180658
  (0, 89)	0.211208361316
  (0, 156)	0.105604180658
  (0, 345)	0.105604180658
  (0, 119)	0.105604180658
  (0, 307)	0.0865969388284
  (0, 258)	0.0937552526697
  (0, 235)	0.105604180658
  (0, 143)	0.105604180658
  (0, 3)	0.0468776263349
  (0, 66)	0.105604180658
  (0, 97)	0.105604180658
  (0, 185)	0.105604180658
  (0, 80)	0.105604180658
  (0, 168)	0.105604180658
  (0, 295)	0.105604180658
  (0, 159)	0.105604180658
  :	:
  (5, 242)	0.16590780693
  (5, 134)	0.16590780693
  (5, 113)	0.16590780693
  (5, 233)	0.16590780693
  (5, 256)	0.16590780693
  (5, 165)	0.16590780693
  (5, 183)	0.16590780693
  (5, 273)	0.16590780693
  (5, 221)	0.16590780693
  (5, 10)	0.16590780693
  (5, 203)	0.16590780693
  (5, 194)	0.16590780693
  (5, 268)	0.16590780693
  (5, 243)	0.16590780693
  (5, 135)	0.16590780693
  (5, 114)	0.16590780693
  (5, 234)	0.16590780693
  (5, 257)	0.16590780693
  (5, 166)	0.16590780693
  (5, 184)	0.16590780693
  (5, 274)	0.16590780693
  (5, 222)	0.16590780693
  (5, 11)	0.16590780693
  (5, 204)	0.16590780693
  (5, 195)	0.16590780693

In [31]:
dense = tfidf.todense()
dense.shape
print(dense)
import pandas as pd
dataframe=pd.DataFrame(dense,columns=tfidf_vectorizer.get_feature_names())

[[ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.16660857  0.16660857
   0.16660857]
 [ 0.11806952  0.11806952  0.11806952 ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]
 [ 0.          0.          0.         ...,  0.          0.          0.        ]]

In [32]:
dataframe.head(10)

,air,air was,air was full,and,and drove,and drove for,and few,and few fleecy,and his,and his chin,...,were just throwing,where,where we,where we hired,which,which we,which we were,with,with bright,with bright sun
0,0.00000,0.00000,0.00000,0.046878,0.105604,0.105604,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.105604,0.105604,0.105604,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.00000,0.00000,0.00000,0.073957,0.000000,0.000000,0.166609,0.166609,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166609,0.166609,0.166609
2,0.11807,0.11807,0.11807,0.104822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.11807,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.00000,0.00000,0.00000,0.055809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.125724,0.125724,0.125724,0.000000,0.000000,0.000000
4,0.00000,0.00000,0.00000,0.043003,0.000000,0.000000,0.000000,0.000000,0.096876,0.096876,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.00000,0.00000,0.00000,0.073646,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000